@charset "UTF-8";
/* 
    Arquivo que contém toda a estilização da Section 5 da página.

*/
/* Início do Bloco de estilização para Web */
.s5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: yellow;
}

#contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90vh;
  background: black;
}

#contactText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
}

#contactLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: 10vh;
}

#contactLogoImg {
  width: 40%;
  height: 100%;
  background-image: url("../assets/web/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#contactLogo i {
  width: 30%;
  font-size: 4em;
  text-align: center;
  color: white;
}

#contactEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: 10vh;
  text-align: center;
}

#contactEmail span {
  font-size: 1.4em;
  font-weight: 300;
  color: white;
}

#contactEmail i {
  margin-right: 20px;
  font-size: 1.5em;
}

#contactAddress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: 10vh;
}

#contactAddress span {
  font-size: 0.8em;
  font-weight: 300;
  color: white;
}

#contactAddress i {
  margin-right: 20px;
  font-size: 1.3em;
}

#contactText p {
  width: 60%;
  font-size: 1.4em;
  font-weight: 800;
  color: white;
}

#contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
}

#contactForm form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
  height: 85%;
  background: gray;
}

#contactForm input {
  width: 90%;
  height: 5vh;
  font-size: 2em;
}

#contactForm textarea {
  width: 90%;
  height: 25vh;
  resize: none;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 2em;
}

#contactForm button {
  width: 90%;
  height: 6vh;
  font-size: 1.5em;
  font-weight: 800;
  color: white;
  border: none;
  background: cyan;
  cursor: pointer;
}

/* Fim do Bloco de estilização para Web */
/* Início do Bloco de estilização para Mobile */
@media screen and (max-width: 600px) {
  .s5 {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: yellow;
  }
  #contactContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 90vh;
    background: black;
  }
  #contactText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 50%;
  }
  #contactLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    height: 5vh;
  }
  #contactLogoImg {
    width: 40%;
    height: 100%;
    background-image: url("../assets/web/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #contactLogo i {
    font-size: 1.5em;
    text-align: right;
  }
  #contactEmail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    height: 5vh;
    text-align: center;
  }
  #contactEmail span {
    font-size: 0.8em;
    font-weight: 300;
    color: white;
  }
  #contactEmail i {
    margin-right: 20px;
    font-size: 1em;
  }
  #contactAddress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    height: 5vh;
  }
  #contactAddress span {
    font-size: 0.6em;
    font-weight: 300;
    color: white;
  }
  #contactAddress i {
    margin-right: 20px;
    font-size: 1em;
  }
  #contactText p {
    width: 80%;
    font-size: 0.6em;
    font-weight: 300;
    color: white;
  }
  #contactForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 50%;
  }
  #contactForm form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    height: 100%;
    background: gray;
  }
  #contactForm input {
    width: 80%;
    height: 4vh;
    font-size: 1em;
  }
  #contactForm textarea {
    width: 80%;
    height: 12.5vh;
    resize: none;
    font-size: 1em;
  }
  #contactForm button {
    width: 80%;
    height: 5vh;
    font-size: 1em;
    font-weight: 800;
    color: white;
    border: none;
    background: cyan;
    cursor: pointer;
  }
}

/* Início do Bloco de estilização para Mobile */
/*# sourceMappingURL=s5Styles.css.map */